@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Caveat:wght@400..700&display=swap');

body {
  background-color: #ADD8E6;
  font-family: "Afacad Flux";
}

h1 {
  text-decoration: underline;
  font-size: 50px;
}

h1, h2, h3, p, ul {
  color: darkblue;
}

h2 {
  font-size: 40px;
}


h3 {
  font-size: 30px;
  text-decoration: underline dashed;
}

hr {
  border-top: 1px dashed darkblue; 
  border-bottom: 1px dashed darkblue;
}

p, li {
  font-size: 25px;
  color: darkblue;
}

ol {
  display: none;
}

.about {
  display: flex; 
  padding-bottom: 15px;
}

a {
  color: rgb(197, 28, 28);
}

a:hover {
  color: darkblue;
}

a:visited {
  color: purple;
}

.text {
  padding-left: 15px;
}

table {
  display: flex;
  justify-content: center;
}

td {
  padding: 40px;
}

#ttc {
  height: 300px;
  width: 300px
}